/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */
.root {
    -fx-background-image: url("leaves.jpg");
}

.button {
    -fx-text-fill: white;
    -fx-font-family: Georgia, serif;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#3C2E1F, #FFCC00);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#FFCC00, #FFFFE0);
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}
#lang-text {
   -fx-font-size: 26px;
   -fx-font-family: Georgia, serif;
   -fx-fill: #993300;
   -fx-effect: innershadow( three-pass-box , rgba(100,50,50,1.7) , 6, 0.0 , 0 , 2 );
}
.label {
    -fx-font-family: Georgia, serif;
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.slide_editor_pane{
    -fx-background-image: url("leaves.jpg");
    
}
.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-image: url("abstract.jpg");
    -fx-border-color: rgb(255, 255, 189);
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-image: url("abstract.jpg");
    -fx-border-color: rgb(255, 255, 189);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.vertical_toolbar_button {
    -fx-background-image: url("abstract.jpg");
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.horizontal_toolbar_button {
    -fx-background-image: url("abstract.jpg");
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}
