/* 
    Created on : Oct 11, 2015, 11:24:48 PM
    Author     : Gauravdeep S Randhawa
*/
body {
    background-color: #FFE26F;
}
h1{
   // color: #997A00;
    text-shadow: 0 0 5px #FF0000;
    text-align: center;
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#slideImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#prevBtn{
    padding:10px 10px 10px 0px;
}
#playBtn{
    padding:10px 10px 10px 50px;
}
#nextBtn{
    padding:10px 10px 10px 50px;
}